
.container_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container_title h1{
    color:#162a45 ;
    font-size: 4vw;
}
.container_title img{
    width: 30%;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    /* margin: auto; */
} 
.content :nth-child(1){
    width: 100%;
}
input::placeholder{
font-size: 15px;
color:#162a45;
font-weight: bold;
opacity: 0.8;

}
input{
padding: 10px;
outline: none;
width: 100%;
margin-top: 5px;
outline: none;
opacity: 0.5;
        

}
.day p{
    margin-top: 15px !important;
}
form{
    width: 100%;
}
label{
    font-size: 12px;
    color: #162a45;
    font-weight: bold;
    margin-left: 0px;
    /* margin-top: 15px; */
    margin-top: 27px;

}
button{
    padding: 10px;
    border-radius: 10px;
    background-color: #162a45;
    border: none;
    color: #ffff;
    font-size: 18px;
    width: 50%;
    text-align: center;
    transition: 1s;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 10px;
}
#submit{
        padding: 10px;
        border-radius: 10px;
        background-color: #162a45;
        border: none;
        color: #ffff;
        font-size: 18px;
        width: 50%;
        text-align: center;
        transition: 1s;
        cursor: pointer;
        margin-top: 8px;
        margin-bottom: 12px;
        margin-left: 10px;
}
.send{
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center;
    width:30%;
    margin-right:-40px;
    margin-top:20px;
}

#search{
    background-color: none;
    border-radius: 10px;
    width: 30%;
    outline: none;
    padding: 10px;
    opacity: 0.9;
    margin-left:420px !important;
}
#search:nth-child(1){
    opacity: 0.9;

    /* margin: auto; */
    border: 1px solid #c9d7e8;
    /* margin-left:430px; */


}
.tache{
    width: 28%;
}
#searching{
    width: 10%;
}
#search::placeholder{
text-align: center;
}

.edit{
    background-color: #5ec5a8;
}
.edit:hover{
    background-color: #85dbc2;
}
.btn_delete{
    background-color: #d45d57;
    width: 20%;
    margin-left: 15px;
}
.btn_delete:hover{
    background-color:rgb(241, 58, 58);
}
.btn_edit{
    background-color: #5ec5a8;
    width: 20%;
    margin-left: 15px;

}
.btn_edit:hover{
    background-color: #85dbc2;
}
#btn{
    background-color: #7aa5e0;
    width: 5%;
    opacity: 1 !important;
}
table{
    padding-top: 80px;
    width: 100%;
}

th{
 padding: 10px;
 /* border: 0.7px solid  #162a45; */
color: #162a45;
font-size: 20px;
}
.filter {
    color: #162a45;
    font-weight: bold;
    text-align: center;
    margin-right: 335px;
    margin-top: 35px;
}


td{
    border-bottom: 1px solid #162a45 0.4;
    text-align: center;
}

#search{
        
    width: 100%;
    margin-top: 15px;
    
}
#search:nth-child(){
    margin-right: 80px;
}
.date{
    width: 40%;
}
@media screen and (max-width:750px){
    .container_title{
        flex-direction: column-reverse;
        width: 40%;
        margin: auto;
    } 
    .container_title img{
        width: 100%;
    }
    button{
        padding: 10px;
        border-radius: 10px;
        background-color: #162a45;
        border: none;
        color: #ffff;
        font-size: 18px;
        width: 100%;
        text-align: center;
        transition: 1.5s;
        cursor: pointer;
        margin-left:15px;
    }
    input{
        margin-top: 25px;
        border-left: none;
        border-top: none;
        /* border-bottom: none; */
        border-right: none;
        width: 100%;
        font-size: 11px;
        
    }
    label{
        font-size: 14px;
        color: #162a45;
    }
    table{
        padding-top: 80px;
        margin: auto;
    }
    .btn_edit{
        background-color: #5ec5a8;
        width: 70%;
        margin-left: 0;
        font-size: 15px;
    
    }
    td{
        font-size: 12px;
    }
    tbody {
    width: 100%;
    margin: auto;
    }
    .btn_delete{
        background-color: #d45d57;
        width: 80%;
        font-size: 15px;
    }
    td{
        border-bottom: 1px solid;
    }
    #search{
        
        width: 80%;
        margin-top: 15px;
    margin-left:45px !important;

    }
    
    #searching{
        width: 70%;
        margin-right: 18px;
    }
    #btn{
        width: 15%;
        margin-left: 100px;
        margin-top: 25px;
    }
    .tache{
        width: 88%;
    }
    .filter {
        color: #162a45;
        font-weight: bold;
        text-align: center;
        margin-right: 0px;
        margin-top: 35px;

    }
    
    
}